beautifulsoup4==4.9.3
bs4==0.0.1
html5lib==1.1
matplotlib==3.3.3
nltk==3.5
numpy==1.19.4
oauthlib==3.1.0
pandas==1.1.4]
PySocks==1.7.1
python-apt==2.0.0+ubuntu0.20.4.4
python-dateutil==2.8.1
python-debian===0.1.36ubuntu1
python-socks==1.2.4
python-xapp==2.0.2
python-xlib==0.23
requests==2.25.0
selenium==3.141.0
tweepy==3.9.0
urllib3==1.26.2

